/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

th , td{
    padding: 10px !important;
}

th{
    color:white
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input{
    color:black;
}

select{
    color:black;
}

textarea{
    color:black;
    padding:10px
}